{
  "extends": ["react-app", "prettier"],
  "rules": {
    "jsx-quotes": [1, "prefer-double"]
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true

  }
}
