#selectSort{
    width: 230px;
    margin: 20px auto;
    text-align-last: center;
    text-align: center;
}
#sortList{
    border-bottom: 1px solid black;
    margin-bottom: 0;
}
#todo-case{
    height: 400px;
    margin-bottom: 0;
}
#add-todo{
    margin-bottom: 0;
    height: 60px;
    border-top: 1px solid black;
    width:280px;
    margin-left:10px;
    margin-right: 10px;
}
#input-field{
    width: 280px;
    margin-top:10px;
}
#add-case{
    border-radius: 30px;
    margin-left: 120px;
    margin-top:5px
}
#todo-case .case-custom-btn{
    width:100%;
    margin:0;
    border-radius: 0;
    text-align: start;
    padding-left: 20px;
    font-size: 15px;
}
#todo-case .case-custom-btn:hover{
    background-color: rgba(245, 243, 243, 1);
}
#todo-case .case-delete-btn{
    font-size: 12px;
    position: absolute;
    left: 240px;
}
#todo-case #btn-case{
    border:none;
    border-bottom: 1px solid black;
    position: relative;
}
#todo-case .case-delete-btn:hover{
    background-color: grey;
}

#todo-case .btn.empty{
background-color: white;
}
#todo-case .case-custom-btn.finished{
background-color: grey;
}
#todo-case .btn.notfinished{
background-color: greenyellow;
}