h4{
    text-align: center;
    margin: 10px 0;
}
#todo-tasks{
    height: 480px;
    margin-bottom: 0;
}
#add-task{
    border-top: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
#input-task{
    width:250px;
}
.form-check{
    margin: auto;
}

#row-add{
    margin-top:15px
}
#add-btn{
    border-radius: 30px;
}
.krasniy_krug{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
}
#checkbox_task{
    margin-left: 20px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
}
#task_main_part{
    border: 1px solid black;
    width: 520px;
    margin: 5px 10px 10px 15px;

}
#task_value{
    width:300px;
    overflow: auto;
    padding-left: 35px;

}
#task_main_part label{
    margin: 0;
}
#tasks-id{
    margin: 0;
}