h4{
    text-align: center;
    margin: 10px 0;
}
#todo-tasks{
    height: 480px;
    margin-bottom: 0;
}
#add-task{
    border-top: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
#input-task{
    width:250px;
    text-align: center;
}
.form-check{
    margin: auto;
}
#row-add{
    margin-top:15px
}
#add-btn{
    border-radius: 30px;
}